<div class="amount_month_tags">
  <% count_saving = 0 %>
  <div class="d-flex flex-wrap justify-content-between align-items-center">
    <% @months.each_with_index do |month, id| %>
      <% saving = @account.bank_transactions.where('extract(month from date) = ?', id + 1).sum(&:amount) %>
      <% if saving != 0 %>
        <% @savings << [month, (count_saving += saving)] %>
      <div class="amount_month_tags_details_card mb-3">
        <h5>Epargne <%= month %>: <%= saving %>€</h5>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Catégorie</th>
              <th scope="col">Montant</th>
            </tr>
          </thead>
          <% @tags.each do |tag| %>
          <tbody>
            <tr>
              <td><%= tag %></td>
              <td><%= @account.bank_transactions.where('extract(month from date) = ? and tag = ?', id + 1, tag).sum(&:amount) %>€</td>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>
      <% end %>
    <% end %>
  </div>
</div>
<%= line_chart @savings, xtitle: "Mois", ytitle: "Euros", library: {backgroundColor: "#F4F4F4"}, title: "Epargne sur l'année", loading: "Loading..." %>
