<div class="container">
  <h3>Details des transactions</h3>
  <p class="mb-5 text-muted"><%= @account.name %> (<%= @account.bank %>)</p>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Montant</th>
          <th scope="col">Catégorie</th>
          <th scope="col">Commentaire</th>
          <th scope="col">Editer</th>
          <th scope="col">Supprimer</th>
        </tr>
      </thead>
      <% @bank_transactions.each do |bank_transaction| %>
      <tbody>
        <tr>
          <th scope="row"><%= bank_transaction.date.strftime("%d/%m/%Y") %></th>
          <td><%= bank_transaction.amount %>€</td>
          <td><%= bank_transaction.tag %></td>
          <td><%= bank_transaction.comment %></td>
          <td>
            <%= link_to edit_account_bank_transaction_path(bank_transaction.account_id, bank_transaction.id) do %>
              <i class="fas fa-edit"></i>
              <% end %>
            </td>
          <td>
            <%= link_to account_bank_transaction_path(bank_transaction.account_id, bank_transaction.id), method: 'delete' do %>
              <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
          </td>
        </tr>
      </tbody>
      <% end %>
    </table>
    <p><%= link_to 'Ajouter une transaction', new_account_bank_transaction_path, class: 'btn btn-primary' %></p>
  </div>
</div>
