<div class="position-relative">
  <div class="container">
    <div class="row rounded">
      <div class="col-6 m-auto w-50 rounded p-4 border bg-transparen">
        <h3 class="title-new-equipment mb-3 font-weight-bold">Ajouter une transaction</h3>
        <%= simple_form_for [ @account, @bank_transaction ] do |f| %>
        <% binding.pry %>
        <%= f.input :date, as: :date, html5: true %>
        <%= f.input :amount, label: 'Montant' %>
        <div class="d-flex flex-column w-100 my-4">
          <%= f.select :tag, options_for_select(["CB", "Vacances", "Loisir", "Abonnement", "Animaux", "Logement", "Santé", "Voiture", "Autre", "Revenu"]), include_blank: "Selectionner un categorie" %>
        </div>
        <%= f.input :comment, label: 'Ajouter un commentaire' %>
        <%= f.submit "Valider", class: "btn btn-success" %>
        <%= link_to "Annuler", account_bank_transactions_path, class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
