<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://blog.reedexpo.fr/wp-content/uploads/2020/05/budget-pr%C3%A9visionnel-salon-scaled.jpg);">
  <div class="container text-center">
    <h1>Account Manager</h1>
    <p>Faire ces comptes n'a jamais été aussi simple</p>
    <% if user_signed_in? %>
    <%= link_to "Démarrer", new_account_path, class: "btn btn-primary btn-lg" %>
    <% else %>
    <%= link_to "Démarrer", new_user_session_path, class: "btn btn-primary btn-lg" %>
    <% end %>
  </div>
</div>

<div class="container">
  <div class="row d-flex justify-content-center">
    <% @accounts.each do |account| %>
      <div class="account-card">
        <h3 class="account-card-name"><%= account.name %></h3>
        <p class="account-card-bank"><%= account.bank %></p>
        <% if account.bank_transactions.count > 0 %>
          <p>Dernière transactions</p>
        <% end %>
        <% account.bank_transactions.first(3).each do |bank_transaction| %>
          <p class="account-card-transaction">
            <span><%= "#{bank_transaction.date.strftime("%d/%m/%Y")}:" %></span>
            <span class="account-card-transaction-tag"><%= "#{bank_transaction.tag}" %></span>
            <span class="account-card-transaction-amount"><%= "#{bank_transaction.amount}€" %></span>
          </p>
        <% end %>
        <p class="account-card-fund">Solde: <%= account.fund %>€</p>
        <p class="account-card-btn-details"><%= link_to 'Détail', account_bank_transactions_path(account, account.bank_transactions), class: "btn btn-success" %></p>
      </div>
    <% end %>

  </div>
</div>
