<div class="container">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <div>
      <h3><%= @account.name %> <span class='h6'>(<%= link_to 'Editer le compte', edit_account_path %> - <%= link_to 'Supprimer le compte', account_path(@account), method: 'delete' %>)</span></h3>
      <p><%= @account.bank %></p>
    </div>
    <p><%= link_to 'Ajouter une transaction', new_account_bank_transaction_path(@account), class:'btn btn-primary' %></p>
  </div>

  <div class="d-flex justify-content-between">
    <div class="amount_tags">
      <h3>Total annuel par catégories</h3>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Catégorie</th>
              <th scope="col">Total annuel</th>
              <th scope="col">Moyenne mensuelle</th>
            </tr>
          </thead>
        <% @account.bank_transactions.map(&:tag).uniq.each do |tag| %>
          <tbody>
            <tr>
              <td><%= tag %></td>
              <td><%= @account.bank_transactions.where(tag: tag).sum(&:amount) %>€</td>
              <td><%= (@account.bank_transactions.where(tag: tag).sum(&:amount) / @account.bank_transactions.where(tag: tag).count).round %>€</td>
            </tr>
          </tbody>
          <% end %>
        </table>
      <div>
        <% @account.bank_transactions.each do |el| %>
          <% if el.amount.positive? %>
            <% @revenu += el.amount %>
          <% else %>
            <% @depense += el.amount %>
          <% end %>
        <% end %>
        <p>Revenu annuel: <%= @revenu %>€</p>
        <p>Dépense annuelle: <%= @depense %>€</p>
        <hr>
        <p>Epargne: <%= @revenu + @depense %>€</p>
      </div>
    </div>

    <div>
      <% tag_percentage = [] %>
      <% @account.bank_transactions.map(&:tag).uniq.map do |tag| %>
        <% if @account.bank_transactions.where(tag: tag).sum(&:amount).negative? %>
          <% average = (@account.bank_transactions.where(tag: tag).sum(&:amount) * 100 / @depense).round %>
          <% tag_percentage << [tag, average] %>
        <% end %>
      <% end %>
      <%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
      <%= pie_chart(tag_percentage, legend: false, width: "700px", height: "770px", library: {backgroundColor: "#F4F4F4"}, title: "Pourcentage par catégories", loading: "Loading...") %>
    </div>
  </div>
  <%= render 'shared/accounts/show/graph_saving' %>

  <div class="my-4 amount_month_tags_details btn btn-primary">Voir le detail</div>


</div>

