<div class="container">
  <div>
    <h3><%= @account.name %> <span class='h6'>(<%= link_to 'Editer votre compte', edit_account_path %> - <%= link_to 'Supprimer le compte', account_path(@account), method: 'delete' %>)</span></h3>
    <p><%= @account.bank %></p>
  </div>

  <p><%= link_to 'Ajouter une transaction', new_account_bank_transaction_path(@account), class:'btn btn-primary' %></p>

  <div class="d-flex justify-content-between">
    <div class="amount_tags">
    <h3>Dépense totale annuelle par catégories</h3>
      <% @account.bank_transactions.map(&:tag).uniq.each do |tag| %>
        <p><%= tag %>: <%= @account.bank_transactions.where(tag: tag).sum(&:amount) %>€</p>
      <% end %>
    </div>

    <div class="amount_month_tags">
      <% months = ['Janvier', 'Fevrier', 'mars', 'avril', 'mai', 'juin', 'juillet', 'aout', 'septembre', 'octobre', 'novembre', 'décembre'] %>
      <% tags = ['Revenu', 'Logement', 'Vacances', 'Voiture', 'Abonnement', 'Animaux', 'Santé', 'Loisir', 'CB', 'Autre'] %>
      <% months.each_with_index do |month, id| %>
        <% if @account.bank_transactions.where('extract(month from date) = ?', id + 1).sum(&:amount) != 0%>
        <h3>Dépense totale du mois de <%= month %>: <%= @account.bank_transactions.where('extract(month from date) = ?', id + 1).sum(&:amount) %>€</h3>
          <% tags.each do |tag| %>
            <div>
              <p><%= tag %>: <%= @account.bank_transactions.where('extract(month from date) = ? and tag = ?', id + 1, tag).sum(&:amount) %>€</p>
            </div>
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
