<div class="container">
  <h3><%= @account.name %></h3>
  <p><%= @account.bank %></p>
  <p><%= link_to 'Editer votre compte', edit_account_path %></p>
  <p><%= link_to 'Supprimer le compte', account_path(@account), method: 'delete' %></p>

  <p><%= link_to 'Ajouter une transaction', new_account_bank_transaction_path(@account) %></p>

  <div class="amount_tags">
  <h3>Dépense total annuelle par tag</h3>
    <% @account.bank_transactions.map(&:tag).uniq.each do |tag| %>
      <p><%= tag %>: <%= @account.bank_transactions.where(tag: tag).sum(&:amount) %>€</p>
    <% end %>
  </div>

  <div class="amount_month">
    <h3>Dépense total mensuelle</h3>
    <% months = ['Janvier', 'Fevrier', 'mars', 'avril', 'mai', 'juin', 'juillet', 'aout', 'septembre', 'octobre', 'novembre', 'décembre'] %>
    <% months.each_with_index do |month, id| %>
      <p><%= month %>: <%= @account.bank_transactions.where('extract(month from date) = ?', id + 1).sum(&:amount) %>€</p>
    <% end %>
  </div>

  <div class="amount_month_tags">
    <h3>Dépense total mensuelle par tag</h3>
    <% months = ['Janvier', 'Fevrier', 'mars', 'avril', 'mai', 'juin', 'juillet', 'aout', 'septembre', 'octobre', 'novembre', 'décembre'] %>
    <% tags = ['Revenu', 'Logement', 'Vacances', 'Voiture', 'Abonnement', 'Animaux', 'Santé', 'Loisir', 'CB', 'Autre'] %>
    <% months.each_with_index do |month, id| %>
      <% tags.each do |tag| %>
        <div>
          <p>Dépense de <%= month %> pour <%= tag %>: <%= @account.bank_transactions.where('extract(month from date) = ? and tag = ?', id + 1, tag).sum(&:amount) %></p>
          <p></p>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
